* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #006d75;
    padding: 40px;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

/* Left Box */
.left-box {
    width: 300px;
    height: 410px;
    background: #fff;
    border-radius:8px;
   
    text-align: center;
}
.d1{
    min-height:1px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
}
img{
    width: 170px;
    height: 170px;
    /* border:2px double gray; */
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 10px;
    padding:10px;
    margin-top: 25px;
    
}

.detail-box {
    
    margin-top:5px;
    text-align: left;
    padding: 10px;
}

/* Right Box */
.right-box {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



/* General Info Box */
.general-info {
    background: #fff;
    border-radius:8px;
    padding: 25px;
    height:280px;
}

/* Other Information Box */
.other-info {
    background: #fff;
    border-radius:8px;
    padding: 25px;
    min-height: 160px;
}
h3{
    margin-bottom: 10px;
}
table{
    width: 100%;
    min-height: 195px;
    margin-top: 10px;
    border-collapse: collapse;
}
th{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    width: 200px;


}
.t1{
    width: 30px;
    text-align: center;
}

td{
    border: 1px solid #ccc;
    padding: 8px;


}


p{
    line-height: 2;
    font-size: 16px;

}

@media only screen and (min-width:300px) and (max-width:600px)

{
  .left-box{
     main{
        flex-direction: column;
        min-width: 410px;
        justify-content: center;
        align-items: center;
        width:100%;
    }
  }

 
    
}/* 300px to 600px (Small screen: Mobile) */
@media only screen and (min-width:300px) and (max-width:600px) {
    *{
        box-sizing: border-box;
    }
    main {
        flex-direction: column;
        width: 100%;
        height: 110%;
        align-items: center;
    }

    .left-box {
        width: 90%;
        margin-bottom: 20px;
    }

    .right-box {
        width: 95%;
    }
}

/* 600px to 900px (Tablet) */
@media only screen and (min-width:600px) and (max-width:900px) {
    main {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .left-box {
        width:100%;
        margin-bottom: 20px;
    }

    .right-box {
        width:100%;
    }
}

/* 900px to 1500px (Laptop and Desktop - slightly narrower) */
@media only screen and (min-width:900px) and (max-width:1500px) {
    main {
        gap: 20px;
        width: 100%;
    }

    .left-box {

        width:100%;
    }

    .right-box {
        width:100%;
    }
}
