*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: seagreen;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* cradsize */
.card{
    width:300px;
    height:450px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/* topbox */
.top{
    width:95%;
    height:40%;
    background-color:seagreen;
    position: absolute;
    top:-20px;
    box-shadow: 0px 0px 10px 2px black;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color:white;
}
/* topbox icons */
.top i{
    height:100px;
    width:100px;
    background-color: white;
    border-radius:50%;
    font-size:50px;
    padding-top:20px;
    color:black;
}
/* persondetiles */
.detiles{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px;
    width:300px;
    color:seagreen;
}
.center i{
    font-size:38px;
    
}
/* centersize */
.center{
    top:220px;
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:10px;
    left:10px;
}
/* bottomgreenbox */
.bottom{
    width:95%;
    height:18%;
    background-color: seagreen;
    position: absolute;
    bottom:-20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
}
/* innericons */
.icons{
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row ;
    justify-content: space-between;
    padding:30px;
}